.player-console {
  display: none;
}

#rulesList {
  display: none;
}

.jumbotron {
  background-color: black;
}

img {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

em {
  margin-top: 25px;
  font-size: 21pt;
  text-align: center;
  animation: fadein 8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

label {
  color: white;
}

.rules {
  height: 80px;
  width: 80px;
}
